@font-face {
    font-family: supermario;
    src: url("fonts/SuperMario256.ttf");
}

body {
    
    text-align: center;
}

#main {
    width: 575px;
    height: 355px;
    background-image: url("images/toad_bgd.png");
    background-position: cover;
}

h1, h2 {
    font-family: supermario;
    color: rgb(221, 221, 55);
    text-shadow: 4px 4px 0px black;
    font-size: 60px;
}

h2 {
   font-size: 60px;
}

.digits {
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.btn {
    font-size: 30px;
    background-color: rgb(7, 206, 7);
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
}

.btn-a {
    background-color: rgb(7, 206, 7);
}

.btn-ans {
    background-color: rgb(114, 13, 245);
}